.flash-container {
    width: 100%;
    height: 35px;
    font-weight: bold;
    /*text-align: center;*/
    font-size: 0.8em;
    /*padding: 12px 0;*/
}

.flash-message {
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px 5px 5px 5px;
}

.flash-success {
    /*background-color: #a2b8a5;*/
    color: green;
}

.flash-error {
    /*background-color: #d8aaa0;*/
    color: red;
}