*{box-sizing: border-box;}

.form_container{
	max-width: 95%;
    position:relative;
	margin:auto;
}
.form{
	width:100%;
	height:650px;
	background:#DCD1CB;
    border-radius: 15px;
}
h3{
    text-align:center;
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1em;
}

.form_content{
    position:relative;
    margin-left: 2%;
    max-width: 45%;
	max-height: 100%;
}

#add_form{
    font-family : 'Poiret One', cursive;
    font-size : 1.3em;
}

#add_button {
    height:3%;
    width:10%px;
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1.3em;
    background-color: #fba100;
    border-radius: 15%;
    color : white;
    border: none;
}

input[type=text]{
    font-family : 'Poiret One', cursive;
    font-size : 0.8em;
    font-weight: 600;
    background-color: rgb(178, 160, 157);
}

input[type=submit]{
    margin-left: 260px;
}

.checkbox-input{
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1.3em;
    cursor: pointer;
    /*height: 100px;
    /*width: 100px;*/

    position: relative;
    padding-left: 40px;
    padding-bottom : 20px;
}

/* Hide the browser's default checkbox */
.checkbox-input input {
    position: absolute;
    opacity: 0;

}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #eee;

}

.checkbox-label {
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1.3em;
    cursor: pointer;
    /*height: 100px;
    /*width: 100px;*/

    position: relative;
    padding-left: 40px;
    padding-bottom : 20px;
}

.checkbox-input {
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #eee;

}

/* On mouse-over, add a grey background color */
.checkbox-input:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-input input:checked ~ .checkmark {
    background-color: #fba100;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-input input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-input .checkmark:after {
    left: 12px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}