#leftContent{
    width:30%;
    float:left;
}
#rightContent{
    width:70%;
    float:left;
}

.jobs-button{
    display: inline-block;
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1.3em;
    background-color: #fba100;
    border-radius: 30%;
    color : white;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding : 10px 10px 10px 10px;
}

.jobs-button-centered{
    margin-left: 46%;
}