
#navigation-list {
/*
display: flex;
    align-items: center;*/
    z-index:100;
    min-width:1160px;
    margin: 0 auto;

    background : linear-gradient(to bottom right, #514b68, #b6a19e);
    height : 90px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

ul{
    list-style-type : none;

}

li {
    float : left;

}
#name-style{
   font-size : 1.5em;
   padding-left: 10px;
   padding-top:29px;
}
.item-style {

    margin:auto;
    display : block;
    color : white;
    text-align : center;
    padding : 33px 55px;
    text-decoration : none;
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1.3em;

}

li a:hover:not(#logo1) {
    background-color : #6bbaa7;

}
#logo {
    padding-left:20px;
    padding-top:10px;
}

#log-out-menu{
  float : right;
  margin-right : 3%;

  }
  /*
#log-out-menu li:first-child{
  margin-top : -16px;
}*/
li button {

    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1em;
    background-color: #fba100;
    border-radius: 30%;
    color : white;
    border: none;
    margin-top : 10%;
    margin-left : 20px;
    padding : 10px 10px 10px 10px;
}
li button:hover{
    box-shadow: inset 0 0 20px #ffbe4d;

}
p{
  font-size:1.5em;
}

.list{
    margin-top:0;
    padding-left : 0;
}


/* The Overlay (background)*/
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(182, 161, 158, 0.6); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 7%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 2px;
    text-decoration: none;
    font-size: 26px;
    color: rgb(81, 75, 104);
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}
.overlay label {
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    padding: 2px;
    text-decoration: none;
    font-size: 28px;
    color: rgb(81, 75, 104);
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}
/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: rgb(142, 119, 115);
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 70px;
}

.overlay input {
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1.3em;
    background-color: rgb(137, 123, 121);
    color: rgb(255, 255, 255);
}

.overlay input[type=submit] {
    width: 20%;
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1.3em;
    background-color: #fba100;
    border-radius: 10%;
    color : white;
    border: none;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.inputfield {
    border-color: rgb(44, 49, 53);
	height:32px;
	width:400px;
	font-size: 28px;
}

#inputbutton {
    height:150px;
    width:150px;
}

.error {
    color: red;
}

.blurred {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transition: 5s;
}


