#edit_job_button {
    height:100%;
    width:10%px;
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1em;
    background-color: #fba100;
    border-radius: 15%;
    color : white;
    border: none;
}

#delete_job_button {
    height:100%;
    width:10%px;
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1em;
    background-color: #fba100;
    border-radius: 15%;
    color : white;
    border: none;
}
#content {
    top: 100px;
    z-index: 100;
    width: 98%;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td, table {
    border: 1px solid;
}
th, td {
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}
td {
    background-color: white;
    opacity: 0.9;
}
th {
    color: white;
    border-color: black;
    background-color: #fba100;
    font-size: 1.2em;
}
body {
    margin-right: 0;
}
a.noStyleLink {
    text-decoration: none;
    color: black;
    cursor: pointer;
}