#paged-options {
    height: 35px;
}

.paged-button:hover {
    box-shadow: inset 0 0 20px #ffbe4d;

}

.paged-button {
    display: inline-block;
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1.3em;
    background-color: #fba100;
    border-radius: 30%;
    color : white;
    border: none;
    margin-left : 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding : 10px 10px 10px 10px;
}

.paged-button-left {
    float: left;
}

.paged-button-newest{
    margin-left: 0px;
}

.paged-button-right {
    float: right;
}

.paged-button-page {
    padding: 5px 7px 5px 7px;
    margin-right: 5px;
    margin-left: 0px;
    width: 15px;
    font-size: 1em;
}

.page-button-container{
    padding-top: 13px;
    display: inline-block;
    text-align: center;
    float: left;
    width: 70%;
}

.paged-button-disabled {
    pointer-events: none;
    background-color: #ffc96b;
}