*{box-sizing: border-box;}

.form_container{
	max-width: 95%;
    position:relative;
	margin:auto;
}
.form{
	width:100%;
	background:#DCD1CB;
    border-radius: 15px;
}

h3{
    text-align:center;
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1em;
}

.form_content{
    position:relative;
    margin-left: 2%;
    max-width: 100%;
	max-height: 100%;
}

#left_form_content{
    width: 48%;
    float: left;
    line-height: 4em;
}

p{
    text-align: center;
    font-family : 'Poiret One', cursive;
    font-size : 1.3em;
}

a{
    color:black;
    cursor:pointer;
}

a.noStyleLink {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#edit_button {
    height:3%;
    width:10%px;
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1em;
    background-color: #fba100;
    border-radius: 15%;
    color : white;
    border: none;
}

#edit_jobs_button {
    height:3%;
    width:10%px;
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1em;
    background-color: #fba100;
    border-radius: 15%;
    color : white;
    border: none;
}

.offers-interests {
    border-collapse: collapse;
    position: absolute;
    top: 40px;
    z-index: 100;
    width: 40%;
    float: right;
    margin-left: 50%;
}

.offers-interests th, td, table {
    border: 1px solid;
}

.offers-interests th, td {
    width: 24.5%;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.offers-interests td {
    background-color: white;
    opacity: 0.9;
}

.offers-interests th {
    color: white;
    border-color: black;
    background-color: #fba100;
    font-size: 1em;
}

#notifications {
    border-collapse: collapse;
    z-index: 100;
    margin-left: 10%;
    width: 80%;
}

#notifications th, td, table {
    border: 1px solid;
}

#notifications th, td {
    text-align: center;
    vertical-align: middle;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

#notifications td {
    background-color: white;
    opacity: 0.9;
    line-height: 45px;
}

#notifications th {
    line-height: 35px;
    color: white;
    border-color: black;
    background-color: #fba100;
    font-size: 1em;
}