#content {
    top: 100px;
    z-index: 100;
    width: 98%;
}
.data-table {
    border-collapse: collapse;
    width: 99%;
}
.data-th, .data-td, .data-table {
    border: 1px solid;
}
.data-th, .data-td {
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}
.data-td {
    background-color: white;
    opacity: 0.9;
}
.data-th {
    color: white;
    border-color: black;
    background-color: #fba100;
    font-size: 1.2em;
}
a.noStyleLink {
    text-decoration: none;
    color: black;
    cursor: pointer;
}