<!-- Meta stuff, javascript, css etc -->

<title>Home</title>
{%load static %}
<script type="text/javascript" src="{% static 'script/jquery-3.2.1.min.js' %}"></script>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/home.css' %}"/>
{% load static %}
<script type="text/javascript" src="{% static 'script/home.js' %}"></script>

    <div class="slideshow_container">
        <div class="slide">
            <div class="numberOnSlide">1/3</div>
            <div class="slide_content">
                <div id="right_content_slide1">
                    <img id="image1"  src="{% static 'style/img/home1.jpg' %}" >
                    <img id="image2" src="{% static 'style/img/home2.jpg' %}" >
                    <img id="image3" src="{% static 'style/img/home3.jpg' %}" >
                    <img id="image4" src="{% static 'style/img/home4.jpg' %}" >
                </div>
                <div id="left_content_slide1">
                    <h3>About us</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel ex eget ligula finibus bibendum. In a auctor dolor. Nunc blandit risus varius lectus iaculis scelerisque. Praesent laoreet et urna at venenatis. Curabitur vitae interdum justo, vel egestas nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis orci urna. Donec quis blandit ligula. Suspendisse ut dapibus turpis, vel elementum arcu. Pellentesque vel pellentesque elit. Quisque eu ipsum posuere, tempus purus eget, finibus magna.

                        Aliquam a aliquam leo. Cras dictum finibus ex id luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum aliquam elementum consequat. Morbi cursus metus a erat hendrerit, nec porttitor urna ultricies. Sed eleifend elit elit, vel ornare elit imperdiet sed. Sed pharetra nibh in arcu condimentum vulputate. Fusce convallis orci in lectus dapibus rhoncus. Sed sit amet lacus euismod, eleifend ex condimentum, rhoncus nulla. Praesent at bibendum justo. Aenean malesuada lacus sit amet risus interdum tempus. Integer ac varius felis.
                    </p>
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="numberOnSlide">2/3</div>
             <div class="slide_content">
                 <div id="right_content_slide2">
                     <h3>Our team</h3>
                    <p>
                        Aliquam malesuada leo sapien, mattis tempor velit semper eget. Nullam vel dui et diam vehicula lacinia. Sed euismod tincidunt iaculis. Nam fermentum scelerisque sem, eget rhoncus ex faucibus id. Maecenas fringilla, risus sed fermentum fringilla, augue ante cursus ipsum, non rutrum orci leo sit amet enim
                        Aliquam erat volutpat. Aliquam sit amet velit venenatis, laoreet nunc eget, viverra sem. Proin congue metus quam, eu fermentum velit malesuada vestibulum. Nunc semper vulputate neque. Phasellus eget pulvinar sapien. Aenean eros purus, tristique at enim sit amet, condimentum dignissim orci. In hac habitasse platea dictumst. Maecenas turpis orci, tempor non sem ac, pulvinar porta nibh. Cras mattis odio volutpat orci pellentesque volutpat. Aenean in nulla vitae sem fringilla tristique id vitae quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi fermentum ligula metus, at mattis odio ullamcorper et. Nunc pulvinar ac erat quis efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet mauris eros.
                    </p>
                 </div>
                 <div id="left_content_slide2">
                    <img id="image5" src="{% static 'style/img/home5.jpg' %}">
                 </div>
            </div>

        </div>

        <div class="slide">
            <div class="numberOnSlide">3/3</div>
             <div class="slide_content">
                 <div id="content_slide3">
                    <h3>Information corner</h3>
                    <p>
                        Nulla rutrum ex vel dignissim egestas. Nam suscipit vehicula sapien at feugiat. Ut arcu enim, tincidunt at dui eget, sodales laoreet sem. In dapibus sit amet sapien eget elementum. Fusce fermentum felis tellus, eget pulvinar nisl dapibus in. Donec lobortis elementum elit eget feugiat. Aliquam vel eros tellus. Quisque quis enim a quam efficitur vulputate porta ut ligula. Ut eu ante congue, pulvinar nulla et, tempus lacus. Proin ut justo quis nunc tempor facilisis. Donec a nibh massa. Quisque euismod nunc elementum urna ornare, sit amet interdum libero tristique. Nunc sit amet tincidunt massa, suscipit pulvinar dui. Maecenas eget ante suscipit, facilisis ipsum in, feugiat nisi.
                        Phasellus sed ligula a lorem elementum mollis. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla lorem neque, non fermentum elit maximus eu. Donec est tortor, dignissim eget ante et, malesuada congue sem. Nam in porttitor mi, in vehicula est. Quisque eget sem vitae sapien aliquet lacinia vel in purus. In hac habitasse platea dictumst. Nam at mi eget justo facilisis ornare nec vitae lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque eu lectus nisl. Vestibulum tempor erat odio, vel rutrum magna euismod id.
                        Donec ac lectus at massa eleifend scelerisque. Donec quis mi ut mauris facilisis vehicula eu non arcu. Maecenas rhoncus eleifend arcu. Nunc vitae tempus metus. Nullam consectetur porta tellus, at lacinia lorem convallis eu. Phasellus mi neque, laoreet vitae elit a, tincidunt scelerisque ex. Proin ut finibus justo. Morbi ac arcu lectus. Vestibulum dictum justo gravida, maximus neque eu, lobortis sapien.
                    </p>
                 </div>
            </div>
        </div>

        <a class="prev" >&#10094;</a>
        <a class="next" >&#10095;</a>
        <br>
        <div class="dot_container">
          <span id="slide1" class="dot" ></span>
          <span id="slide2" class="dot" ></span>
          <span id="slide3" class="dot" ></span>
        </div>
    </div>



