<title>Job Detail</title>
{% load mathfilters %}
{% load list_utils %}
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/job_detail.css' %}"/>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/table.css' %}"/>

<body>
    <div class="jobDetail">
        <form action="/job/{{job.id}}/edit" method="get">
            <input type="submit" id="edit_job_button" value="Edit">
        </form>
        <form action="/job/{{job.id}}/delete" method="get">
            <input type="submit" id="delete_job_button" value="Delete">
        </form>
        <div class="jobTitle">{{job.name}}</div>
        <br>
        <div class="jobDescr">{{job.description}}</div>
        <br>
        <div><b>Posted by: </b> <a href="/profile/{{job.user.username}}">{{job.user.username}}</a> on {{job.publish_date}}</div>
        <br>
        {% if job.user.average_employer_rating %}
            <div><b>Average rating: </b> {{job.user.average_employer_rating}}</div>
            <br>
        {% endif %}
        <div> <b>Category: </b> {{job.category}}</div>
        <br>
        <div> <strong>Working hours per {{job.get_per_time_display}}:</strong> {{job.number_of_hours}}</div>

        <br>
        <div> <strong>Payment:</strong> {% if job.cost_of_services == 0 %} Voluntary {% else %} {{job.cost_of_services}} RON per {{job.get_per_cost_display}}. {% endif %}</div>
        <br>
        <div> <b>Requirements: </b> {{job.requirements}}</div>
        <br>
        <div> <b>Location: </b> {{job.location}}</div>
        <br>
        <div> <b>Start date: </b> {{job.start_date}}</div>
        <br>
        <div> <b>End date:</b>{{job.end_date}}</div>
        {% if reviewable %}
            <a href="/job/{{job.id}}/review"> Write a review for
                {% if user.id is job.user.id %}
                    your selected applicant
                {% else %}
                    your employer
                {% endif %}
                here
            </a>
            <br>
        {% endif %}
        {% if user.is_authenticated %}
            {% if job.user.id == request.user.id %}
                {% if job.applicants.all|length %}
                    <table class = "data-table">
                        <thead>
                            <tr class="data-tr">
                                <th class="data-th">Applicant</th>
                                <th class="data-th">Date</th>
                                <th class="data-th">Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for applicant in job.application_set.all %}
                                <tr class="data-tr">
                                    <td class="data-td">
                                        <a href="/profile/{{applicant.user.user.username}}">
                                            {% if applicant.user.user.first_name|length or applicant.user.user.last_name|length %}
                                                {{applicant.user.user.first_name}} {{applicant.user.user.last_name}}
                                            {% else %}
                                                {{applicant.user.user.username}}
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td class="data-td">{{applicant.apply_date}}</td>
                                    <td class="data-td">
                                        {% if job.user_chosen %}
                                            {% if job.user_chosen.id == applicant.user.id %}
                                                <form action="/job/{{job.id}}/deselect" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="user" value="{{applicant.user.id}}">
                                                    <p class="selected">Selected </p>   <input type="submit" value="X">
                                                </form>

                                            {% endif %}
                                        {% else %}
                                            <form action="/job/{{job.id}}/choose" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="user" value="{{applicant.user.id}}">
                                                <input type="submit" value="Accept">
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ paged }}
                {% else %}
                    <p>No applicants.</p>
                {% endif %}

            {% else %}
                {% if request.user.profile not in job.applicants.all %}
                    {% if job.applicants.all|length == 0 %}
                        <p>This job looks fresh!</p>
                    {% elif job.applicants.all|length == 1 %}
                        <p>One user applied for this job.</p>
                    {% else %}
                        <p>{{job.applicants.all|length}} users applied for this job</p>
                    {% endif %}
                        <form  action="/job/{{job.id}}/apply" method="POST" id="formApply">
                            {% csrf_token %}
                            <input type="hidden" name="user" value="{{request.user.id}}">
                           <input type="submit" value="Apply">
                        </form>
                {% endif %}
                {% if request.user.profile in job.applicants.all %}
                     {% if job.applicants.all|length == 0 %}
                        <p>This job looks fresh!</p>
                     {% elif job.applicants.all|length == 1 %}
                        <p>You applied for this job.</p>
                     {% else %}
                        <p>You and {{ job.applicants.all|length|sub:1 }} other users applied for this job</p>
                     {% endif %}
                {% endif %}
                {% if job.user_chosen %}
                    {% if job.user_chosen.user == request.user %}
                        <p>You were selected for this job!</p>
                    {% else %}
                        <p>The user selected another applicant.</p>
                    {% endif %}
                {% endif %}

            {% endif %}
        {% endif %}
    </div>
</body>
