{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/job_edit.css' %}"/>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/flash-service.css' %}"/>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}"/>

{% load static %}
<script type="text/javascript" src="{% static 'script/jquery-3.2.1.min.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'script/job_edit.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'script/flash-service.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'script/menu.js' %}"></script>
{%load static %}
<script type="text/javascript" src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

<title>Edit Job</title>

<div class = "form_container">
    <div class = "form">
        <div class = "form_content">
            <form id='update_form' action='/job/edit' method="POST">
                {% csrf_token %}

                <b>Title:</b> {{ form.title }}<br>
                <div id="add-title-error" class='flash-container'></div>

                <b>Description:</b> {{ form.description }}<br>
                <div id='add-description-error' class='flash-container'></div>

                <b>Category:</b> {{ form.category }}<br>
                <div id='add-category-error' class='flash-container'></div>

                <b>Start:</b> {{ form.start_date }}<br>
                <div id='add-start-error' class='flash-container'></div>

                <b>End:</b> {{ form.end_date }}<br>
                <div id='add-end-error' class='flash-container'></div>


                <b>Number of hours :</b> {{ form.number_of_hours }}
                <div id="add-number_of_hours-error" class='flash-container'></div>
                <b>per :</b> {{ form.per_time }} <br><br>

                <b>Voluntary:</b> <input class="checkbox-input" id="pay-interest" type="checkbox" name="interest"> <span class="checkmark"></span> <br><br>
                <b>Cost of services:</b> {{ form.cost_of_services }}
                <div id='add-cost_of_services-error' class='flash-container'></div>
                <b>per:</b> {{ form.per_cost }}<br><br>

                <b>Location:</b> {{ form.location }}<br>
                <div id='add-location-error' class='flash-container'></div>

                <b>Requirements:</b> {{ form.requirements }}<br>
                <div id='add-requirements-error' class='flash-container'></div>


                <br>
            </form>



            <input class="inputbutton" type="submit" value="Update job" id="update_button">

        </div>
    </div>
</div>