<!-- Meta stuff, javascript, css etc -->
<title>Jobs</title>
{%  load mathfilters %}
{% load url_utils %}
{%load static %}
<script type="text/javascript" src="{% static 'script/jquery-3.2.1.min.js' %}"></script>
{%load static %}
<script type="text/javascript" src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'script/jobs.js' %}"></script>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/jobs.css' %}"/>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/table.css' %}"/>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}"/>

<!-- Content goes down here -->
<body>
    <div id="content">
        <div id="leftContent">
            <p id="searchText">Search: </p>
            <form method="get" action="/jobs" id="searchForm">
                <!-- Add search criteria and filters here-->
                 <div id="category_search">
                    {{ category_form.category }}
                 </div>
                <div id="searchHours">
                    <input type="checkbox" name="searchByHours" id="searchByHours"/>Search By hours<br>
                    <div id="searchByHoursForm">
                        <b>Minimum nr. hours: </b>{{searchByHoursForm.min_hours}}<br>
                        <b>Maximum nr. hours: </b>{{searchByHoursForm.max_hours}}<br>
                        <b>Per:  </b>{{searchByHoursForm.per_time}}<br>
                    </div>
                </div>

                <div id="searchInterval">
                    <input type="checkbox" name="searchByInterval" id="searchByInterval"/>Search by interval<br>
                    <div id="searchByIntervalForm">
                        <b>Start date: </b>{{searchByIntervalForm.start_date}}<br>
                        <b>End date: </b>{{searchByIntervalForm.end_date}}<br>
                    </div>
                </div>

                <div id="searchCost">
                    <input type="checkbox" name="searchByCost" id="searchByCost"/>Search by cost<br>
                    <div id="searchByCostForm">
                        <b>Minimum cost: </b>{{searchByCostForm.min_cost}}<br>
                        <b>Maximum cost: </b>{{searchByCostForm.max_cost}}<br>
                        <b>Per:  </b>{{searchByCostForm.per_cost}}<br>
                        <b>Voluntary </b>{{searchByCostForm.voluntary}}<br>
                    </div>
                </div>

                <!-- Until here-->
                <input type="submit" value="Submit" class="jobs-button" id="category_search_button"><br>
            </form>

        </div>
        <div id="rightContent">
            <a class="jobs-button jobs-button-centered" href="/job_add">Add job</a><br>
            <table class="data-table">
                <thead>
                <tr class="data-tr">
                    <th class="data-th"> Name</th>
                    <th class="data-th"> Publish date</th>
                    <th class="data-th"> Category</th>
                    <th class="data-th"> Location</th>
                    <th class="data-th"> Posted by</th>
                </tr>
                </thead>
                <tbody>
                {% for j in jobs %}
                <tr class="data-tr">
                    <td class="data-td"> <a class="noStyleLink" href="/job/{{j.id}}">{{j.name}}</a></td>
                    <td class="data-td"> {{j.publish_date}}</td>
                    <td class="data-td"> {{j.category}}</td>
                    <td class="data-td"> {{j.location}}</td>
                    <td class="data-td"> <a class="noStyleLink" href="/profile/{{j.user.username}}">{{j.user.username}}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ paged }}
        </div>

    </div>
</body>