{%load static %}
<script type="text/javascript" src="{% static 'script/jquery-3.2.1.min.js' %}"></script>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/menu.css' %}"/>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/flash-service.css' %}"/>
{% load static %}
<script type="text/javascript" src="{% static 'script/account.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'script/menu.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'script/flash-service.js' %}"></script>

<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poiret+One" rel="stylesheet">
<div id="navigation-list">
    <ul class="list">
        <li id="logo">
            <a id="logo1" href="/home">
                <img src="{% static 'style/img/logo.png' %}"  alt="logo" height="10%" width="100px">
            </a>

        </li>
        <li id="name">
            <a id="name-style" class="item-style" href="/home">
                JobMania
            </a>
        </li>
        <li>
            <a class="item-style" href="/jobs">
                Jobs
            </a>
        </li>
        <li>
            <a class="item-style" href="/seekers">
                People to hire
            </a>
        </li>
    </ul>
    <ul id="log-out-menu" class="list">
    {% if request.user.is_authenticated %}
        <li>
            <a class="item-style" href="/profile/{{request.user.username}}" style="margin-top : -16px;">
                {{request.user.username}}
            </a>
        </li>
        <li>
            <button id="logout-prompt">Logout</button>
        </li>
    {% else %}
      <li><button id="register-prompt">Register</button></li>
      <li><button id="login-prompt">Log in</button></li>
    {% endif %}
  </ul>
</div>

<!-- Login & Register overlay -->
{% if not username %}
    <div id="login-page" class="overlay">
        <a href="javascript:void(0)" class="closebtn" id="close-login-prompt">
            &times;
        </a>
        <div class="overlay-content">
            {% load static %}
            <form id='authentication' action='/account/login' method="POST">
                {% csrf_token %}
                <label>Username</label>
                <input class="inputfield" type="text" placeholder="Username" name="username" id="auth-focus" required>
                <label>Password</label>
                <input class="inputfield" type="password" placeholder="Password" name="password" required>
                <div id='auth-error' class='flash-container'></div>
            </form>
            <input class="inputbutton" type="submit" id="auth-button" value="Login">
        </div>
    </div>
    <div id="register-page" class="overlay">
        <a href="javascript:void(0)" class="closebtn" id="close-register-prompt">&times;</a>
        <div class="overlay-content">
            {% load static %}
            <form id='registration' action='/account/register' method="POST">
                {% csrf_token %}
                <label>
                    Username
                </label>
                <input class="inputfield" type="text" placeholder="Username" name="username" id="reg-focus" required>
                <br>
                <div id='reg-user-error' class='flash-container'>

                </div>
                <label>
                    E-mail
                </label>
                <input class="inputfield" type="text" placeholder="E-mail" name="email" required>
                <br>
                <div id='reg-email-error' class='flash-container'>

                </div>
                <label>
                    Password
                </label>
                <input class="inputfield" type="password" placeholder="Password" name="password" required>
                <br>
                <div id='reg-pass-error' class='flash-container'>

                </div>
                <label>
                    Confirm password
                </label>
                <input class="inputfield" type="password" placeholder="Password" name="confirm-password" required>
                <br>
                <div id='reg-confirm-error' class='flash-container'>

                </div>
            </form>
            <input class="inputbutton" type="submit" id="reg-button" value="Register">
        </div>
    </div>
{% endif %}

