<title>My Jobs</title>
{%  load mathfilters %}
{% load url_utils %}
{%load static %}
<script type="text/javascript" src="{% static 'script/jquery-3.2.1.min.js' %}"></script>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/my_jobs.css' %}"/>
{% load static %}
<script type="text/javascript" src="{% static 'script/my_jobs.js' %}"></script>

<!-- Content goes down here -->
<body>
    <div id="content">
            <table class="data-table">
                <thead>
                <tr class="data-tr">
                    <th class="data-th"> Name</th>
                    <th class="data-th"> Publish date</th>
                    <th class="data-th"> Category</th>
                    <th class="data-th"> Location</th>
                    <th class="data-th"> Edit </th>
                    <th class="data-th"> Delete </th>
                </tr>
                </thead>
                <tbody>
                {% for j in jobs %}
                <tr class="data-tr">
                    <td class="data-td"> <a class="noStyleLink" href="/job/{{j.id}}">{{j.name}}</a></td>
                    <td class="data-td"> {{j.publish_date}}</td>
                    <td class="data-td"> {{j.category}}</td>
                    <td class="data-td"> {{j.location}}</td>
                    <td class="data-td">
                        <form action="/job/{{j.id}}/edit" method="get">
                            <input type="submit" id="edit_job_button" value="Edit">
                        </form>
                    </td>
                    <td class="data-td">
                        <form action="/job/{{j.id}}/delete" method="get">
                            <input type="submit" id="delete_job_button" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
</body>