<!-- Meta stuff, javascript, css etc -->
{%  load mathfilters %}
{% load url_utils %}

<title>Notifications</title>
{%load static %}
<script type="text/javascript" src="{% static 'script/jquery-3.2.1.min.js' %}"></script>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/table.css' %}"/>
{% load static %}
<script type="text/javascript" src="{% static 'script/notifications.js' %}"></script>
<!-- Content goes down here -->
<body>
<div style="width: 70%; margin-left: 15%;">
    <table class="data-table notificationsTable">
        <thead>
        <tr class="data-tr">
            <th class="data-th"> Job</th>
            <th class="data-th"> Message</th>
            <th class="data-th"> Seen </th>
        </tr>
        </thead>

        <tbody>
        {% for notification in notifications %}
            <tr class="data-tr">
                <td class="data-td" style="width: 10%"> <a class="noStyleLink" href="/handle_notification/{{notification.id}}">{{notification.job.name}}</a></td>
                <td class="data-td" style="width: 70%"> {{notification.notification_text}} </td>
                {% if notification.is_read %}
                <td class="data-td" style="width: 10%">
                    <input type="checkbox" checked disabled>
                </td>
                {% else %}
                <td class="data-td" style="width: 10%">
                    <input type="checkbox" class="seen-checkbox" value="{{notification.id}}">
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ paged }}
</div>
</body>