{%  load mathfilters %}
{% load url_utils %}
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/paged.css' %}"/>

<!-- Content goes down here -->
<body>
    <div id="paged-nav">
        <div id="paged-options">
            {% if page != 1 %}
            <a class="paged-button paged-button-left paged-button-newest" href="?{% url_replace page=1 %}">Newest</a>
            {% else %}
            <a class="paged-button paged-button-left paged-button-disabled paged-button-newest">Newest</a>
            {% endif %}

            {% if page > 1 %}
            <a class="paged-button paged-button-left" href="?{% url_replace page=page|sub:1 %}">Newer</a>
            {% else %}
            <a class="paged-button paged-button-left paged-button-disabled">Newer</a>
            {% endif %}

            <div class="page-button-container">
            {% for i in page_buttons %}
                {% if i == page %}
                <a class="paged-button paged-button-center paged-button-page paged-button-disabled">{{i}}</a>
                {% else %}
                <a class="paged-button paged-button-center paged-button-page" href="?{% url_replace page=i %}">{{i}}</a>
                {% endif %}
            {% endfor %}
            </div>

            {% if page != max_page %}
            <a class="paged-button paged-button-right" href="?{% url_replace page=max_page %}">Oldest</a>
            {% else %}
            <a class="paged-button paged-button-right paged-button-disabled">Oldest</a>
            {% endif %}

            {% if page < max_page %}
            <a class="paged-button paged-button-right" href="?{% url_replace page=page|add:1%}">Older</a>
            {% else %}
            <a class="paged-button paged-button-right paged-button-disabled">Older</a>
            {% endif %}
        </div>
    </div>
</body>