<!-- Meta stuff, javascript, css etc -->

<title>Profile</title>

{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/profile.css' %}"/>
{% load static %}
<script type="text/javascript" src="{% static 'script/profile.js' %}"></script>

<!-- Content goes down here -->
<body>
    <div class = "form_container">
        <div class = "form">
            <div class = "form_content">
                <div id = "left_form_content">
                    {% if user and profile %}
                        {% if interests.count > 0 and jobs.count > 0 %}
                            <table class="offers-interests">
                                <thead>
                                    <tr>
                                        <th> Recent offers </th>
                                        <th> Recent interests </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for job, interest in zip %}
                                    <tr>
                                        {% if job %}
                                        <td> <a class="noStyleLink" href="/job/{{job.id}}">{{job.name}}</a> </td>
                                        {% else %}
                                        <td>  </td>
                                        {% endif %}
                                        {%if interest %}
                                        <td> {{interest.category}}</a>  </td>
                                        {% else %}
                                        <td>  </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% elif interests.count > 0 %}
                            <table class="offers-interests">
                                <thead>
                                    <tr>
                                        <th> Seeking </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for interest in interests %}
                                    <tr>
                                        <td> {{interest.category}} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% elif jobs.count > 0 %}
                            <table class="offers-interests">
                                <thead>
                                    <tr>
                                        <th> Offering </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for job in jobs %}
                                    <tr>
                                        <td> <a class="noStyleLink" href="/job/{{j.id}}">{{job.name}}</a> </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        <p>
                            <b>First Name:</b> {{ user.first_name }}<br>
                            <b>Last Name:</b> {{ user.last_name }}<br>
                            {% if own_profile or not profile.hide_email_for_strangers %}
                                <b>Email address:</b> {{ user.email }}<br>
                            {% endif %}
                            {% if own_profile %}
                                <input type="button" id="edit_button" value="Edit Profile">
                                <input type="button" id="edit_jobs_button" value="Edit My Jobs">
                            {% endif %}
                        </p>
                        {% if own_profile %}
                            {% if notifications.count > 0 %}
                                <p id="new-notification-label"><b>You have new notifications!</b></p>
                                <table id="notifications">
                                    <thead>
                                        <tr>
                                            <th> Job </th>
                                            <th> Message </th>
                                            <th> Seen </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for notification in notifications %}
                                        <tr>
                                            <td style="width: 10%"> <a class="noStyleLink" href="/handle_notification/{{notification.id}}">{{notification.job.name}}</a></td>
                                            <td style="width: 70%"> {{notification.notification_text}} </td>
                                            {% if notification.is_read %}
                                            <td style="width: 10%">
                                                <input type="checkbox" checked disabled>
                                            </td>
                                            {% else %}
                                            <td style="width: 10%">
                                                <input type="checkbox" class="seen-checkbox" value="{{notification.id}}">
                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            <p><b>Click <a href="/notifications?page=1">here</a> to view all notifications.</b></p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>