<!-- Meta stuff, javascript, css etc -->
{%  load mathfilters %}
{% load url_utils %}

<title>Reviews</title>
{%load static %}
<script type="text/javascript" src="{% static 'script/jquery-3.2.1.min.js' %}"></script>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/table.css' %}"/>
<!-- Content goes down here -->
<body>
<div id="content">
    <table class="data-table">
        <thead>
        <tr>
            <th class="data-th"> Reviewer</th>
            <th class="data-th"> User reviewed</th>
            <th class="data-th"> Related job</th>
            <th class="data-th"> Category </th>
            <th class="data-th"> Date & time</th>
            <th class="data-th"> Rating </th>
        </tr>
        </thead>

        <tbody>
        {% for r in reviews %}
            <tr class="data-tr">
                <td class="data-td"> <a href="/profile/{{r.user_reviewing}}">{{r.user_reviewing.username}}</a></td>
                <td class="data-td"> {% if r.employer_review %} Employer {% else %} Applicant {% endif %} <a href="/profile/{{r.user_reviewing}}">{{r.user_reviewed.username}}</a></td>
                <td class="data-td"> {{ r.job.name }} </td>
                <td class="data-td"> {{ r.job.category.name }} </td>
                <td class="data-td"> {{ r.timestamp}}</td>
                <td class="data-td"> {{ r.stars }} stars </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ paged }}
</div>
</body>