{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/flash-service.css' %}"/>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/review.css' %}"/>

{% load static %}
<script type="text/javascript" src="{% static 'script/jquery-3.2.1.min.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'script/review.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'script/flash-service.js' %}"></script>

<title> Review {% if job.user.id is user.id %} applicant {% else %} employer {% endif %} </title>

<div class="form_container">
    <form id="reviewForm" action="/job/{{job.id}}/review/send" method="post">
        {% csrf_token %}
        <input name="job_id" style="display: none;" type="number" class="inputfield" value="{{job.id}}">
        <label>Rating</label>
        {{form.stars}}
        <br>
        <label>Comment</label>
        {{form.comment}}
        <div id="review-error" class='flash-container'></div>
        <br>
    </form>
    <input id="sendReview" type="button" value="Review">
</div>