<!-- Meta stuff, javascript, css etc -->
{%  load mathfilters %}
{% load url_utils %}

<title>People to hire</title>
{%load static %}
<script type="text/javascript" src="{% static 'script/jquery-3.2.1.min.js' %}"></script>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/table.css' %}"/>
<!-- Content goes down here -->
<body>
<div id="content">
    <table class="data-table">
        <thead>
        <tr class="data-tr">
            <th class="data-th"> Username</th>
            <th class="data-th"> First Name</th>
            <th class="data-th"> Last Name</th>
            <th class="data-th"> Email </th>
            <th class="data-th"> Interests </th>
            <th class="data-th"> Rating </th>
        </tr>
        </thead>

        <tbody>
        {% for s in seekers %}
            <tr class="data-tr">
                <td class="data-td"> <a href="/profile/{{s.user.username}}">{{s.user.username}}</a></td>
                <td class="data-td"> {{s.user.first_name}}</td>
                <td class="data-td"> {{s.user.last_name}}</td>

                {%if s.hide_email_for_strangers == True and s.user != request.user  %}
                    <td class="data-td"> No email available</td>
                {%else%}
                    <td class="data-td"> {{s.user.email}}</td>
                {%endif%}
                <td class="data-td">
                    <select>
                    {% for i in s.interests.all %}
                        <option >{{i.name}}</option>
                    {%endfor%}
                    </select>
                </td>
                <td class="data-td">
                    {% if s.average_applicant_rating %}
                        <a href="/profile/{{s.user.username}}/reviews"> {{s.average_applicant_rating}} </a>
                    {% else %}
                        Not yet rated
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ paged }}
</div>
</body>