<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/template.css' %}"/>
<head>
    <meta charset="UTF-8">
</head>
<body>
    {{  menu }}
    <div id = "content-wrapper">
        {{ content }}
    </div>
</body>
</html>